@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
  <h3>There are no clients that have been added yet.</h3>
}
else
{
  <ul>
    @foreach (Client client in Model)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li>
    }
  </ul>
}

<h3>@Html.ActionLink("Add new client", "Create")</h3>
<h3>@Html.ActionLink("Back to Home Page", "Index", "Home")</h3>